* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #3d3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container {
  max-width: 1350px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.main-content-wrapper {
  margin-top: 130px;
}

h1,
h2,
h4 {
  font-family: "Bodoni Moda", serif;
}

h3,
h5 {
  font-family: "Karla", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: normal;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 1.8rem 0;
}

.loading-p {
  font-family: "Sacramento", cursive;
  font-size: 2.4rem;
}

.highlighted-text {
  line-height: 25px;
  font-weight: bold;
}

/*message styling ----*/
.message-container {
  margin-top: 2.5rem;
}

.message {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border: 3px solid #3d3c3c;
  color: #3d3c3c;
}

.empty {
  padding: 2rem 1rem;
}

.error {
  border-color: #ac6b63;
  color: #ac6b63;
}

.error p {
  margin: 0.5rem 0;
}

.warning {
  border-color: #c68455;
  color: #c68455;
}

.success {
  border-color: #698678;
  color: #698678;
}

.header-img-container {
  width: 100%;
}

.header-img {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-position: top;
  background-repeat: no-repeat;
}

.navbar-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
}

nav,
#hamburger-menu {
  display: none;
}

nav ul {
  padding: 10px 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

nav li {
  display: block;
  padding: 10px 20px;
  font-size: 1.4rem;
}

nav a,
.extra-navigation a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: #3d3c3c;
  display: block;
}

.extra-navigation a {
  font-size: 1.3rem;
}

nav a:hover,
.extra-navigation a:hover,
.current {
  text-decoration: underline;
  text-underline-offset: 5px;
}

nav i,
.extra-navigation i {
  color: #3d3c3c;
  padding: 0 10px;
}

.hamburger-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: #3d3c3c;
  padding: 35px 20px;
}

.hamburger-label:hover {
  cursor: pointer;
}

#hamburger-menu:checked ~ .nav {
  display: block;
}

.nav-block {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.nav {
  height: 100vh;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#ded6d3), color-stop(rgba(222, 214, 211, 0.9)), to(rgba(222, 214, 211, 0.3)));
  background: linear-gradient(0.25turn, #ded6d3, rgba(222, 214, 211, 0.9), rgba(222, 214, 211, 0.3));
}

.logo-container {
  width: 220px;
  margin: 0 auto;
}

.nav-logo {
  width: 220px;
  margin-top: 0.5rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ded6d3;
  z-index: 10;
}

.extra-nav {
  display: none;
}

.basketCount {
  display: none;
  font-size: 14px;
  font-family: "Karla", sans-serif;
  background: #bb9d88;
  color: white;
  vertical-align: top;
  margin-left: -14px;
  padding: 3px 8px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .extra-nav {
    display: block;
    margin: 0;
  }
  .extra-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
  .extra-navigation li {
    padding: 35px 0;
  }
  .extra-navigation i:hover {
    color: #bb9d88;
  }
}

@media (min-width: 961px) {
  .logo-container {
    width: 250px;
    margin: 0 auto;
  }
  .nav-logo {
    width: 250px;
    margin-top: 0;
  }
  .extra-navigation li {
    padding: 35px 10px;
  }
  .extra-navigation {
    padding-right: 20px;
  }
}

.product-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 550px;
}

.product-card-link {
  text-decoration: none;
  color: #3d3c3c;
}

.product-img-container {
  overflow: hidden;
}

.icon-container {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.favButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 1.8rem;
  color: #bb9d88;
}

.favButton:hover {
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.product-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.product-name-container h3,
.product-name-container p {
  margin: 5px 0;
}

.featured-grid,
.product-grid,
.favourites-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 4rem;
}

.product-name-container p {
  margin-left: 10px;
}

.product-card-link:hover ~ .card-button-container .viewButton {
  background-color: #ffffff;
  border: 3px solid #3d3c3c;
  color: #3d3c3c;
  cursor: pointer;
}

.product-card-link:hover ~ .card-button-container .viewButton span {
  display: none;
}

.product-card-link:hover ~ .card-button-container .viewButton:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5d7";
}

@media (min-width: 641px) {
  .featured-grid,
  .product-grid,
  .favourites-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 961px) {
  .featured-grid,
  .product-grid,
  .favourites-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.instagram-attests-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin: 4rem 0;
}

.small-insta-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  -ms-grid-row-align: end;
      align-self: end;
}

.attest1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.attest-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.heading-container h4 {
  margin-top: 0;
}

.insta-img-container {
  overflow: hidden;
}

.insta-img-lrg {
  width: 100%;
  height: 435px;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.insta-img-sm {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.insta-img-lrg:hover,
.insta-img-sm:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.insta-links {
  color: #3d3c3c;
}

.attest {
  position: relative;
}

.insta-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(222, 214, 211, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 5px;
}

.insta-username {
  font-size: 1rem;
  margin-right: 1rem;
}

.instagram-tag,
.facebook-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 2rem;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: right;
  color: #3d3c3c;
}

.instagram-tag:hover,
.facebook-tag:hover {
  letter-spacing: 1px;
}

.fa-instagram,
.fa-facebook {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .attest-container {
    display: block;
  }
  .insta-username {
    font-size: 1.2rem;
  }
}

@media (min-width: 961px) {
  .instagram-attests-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .insta-img-lrg {
    height: 558px;
  }
  .insta-img-sm {
    height: 350px;
  }
  .attest1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .attest-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cta-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta-button,
.formButton {
  width: 100%;
  font-family: "Karla", sans-serif;
  color: #ffffff;
  background-color: #3d3c3c;
  border: 3px solid #3d3c3c;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.cta-button:hover span,
.formButton:hover span {
  display: none;
}

.cta-button:hover:before,
.formButton:hover:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5d7";
}

.cta-button:hover,
.formButton:hover {
  background-color: #ffffff;
  border: 3px solid #3d3c3c;
  color: #3d3c3c;
  cursor: pointer;
}

.formButton {
  margin: 1.5rem 0 2.5rem 0;
}

#logout {
  height: 49px;
  width: 100%;
  font-family: "Karla", sans-serif;
  color: #3d3c3c;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  padding: 10px 20px;
}

.extra-navigation #logout {
  font-size: 1.1rem;
  width: auto;
  height: auto;
  padding: 10px 5px;
}

#logout:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

.delete {
  background-color: #ded6d3;
  margin-top: 0;
}

.delete,
.delete:hover {
  border-color: #ded6d3;
  color: #3d3c3c;
}

.card-button-container,
.basket-button-container,
.modal-button-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.card-button-container {
  grid-gap: 0.5rem;
  margin: 0.5rem 0;
}

.basket-button-container,
.modal-button-container {
  grid-gap: 1rem;
  margin-bottom: 5rem;
}

.modal-button-container {
  margin-bottom: 1rem;
}

.all-products-link-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-image: url(../../images/bone-fill.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 30px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.all-products-link-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.productsPage-link {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: #3d3c3c;
  font-size: 1.3rem;
  padding: 25px;
}

.trashButton {
  font-size: 1.5rem;
  color: #bb9d88;
  padding: 0 10px 10px 10px;
  margin-left: 2rem;
}

.trashButton:hover,
.plus:hover,
.minus:hover {
  cursor: pointer;
}

.plus,
.minus {
  border: 3px solid #ded6d3;
  color: #3d3c3c;
  background-color: white;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  padding: 0;
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  .basket-button-container,
  .modal-button-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #ded6d3;
  padding: 1.5rem 0;
}

.footerContainer,
.customer-links,
.business-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-logo-container {
  width: 200px;
  margin: 0 auto;
}

.footer-logo {
  width: 200px;
}

.fa-instagram,
.fa-facebook {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.fa-instagram:hover,
.fa-facebook:hover {
  color: #a89e9d;
}

.logo-social-links,
.customer-links,
.business-links {
  text-align: center;
  padding: 0.5rem 0;
}

.footer-links {
  text-decoration: none;
  color: #3d3c3c;
  margin: 0.5rem 0;
}

.footer-links:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}

.search-bar label {
  color: #3d3c3c;
  margin-right: 1rem;
}

.search {
  height: 40px;
  width: 260px;
  border: 3px solid #ded6d3;
  background-color: white;
  margin: 0.5rem 0 1rem 0;
  padding: 10px;
  font-family: "Karla", sans-serif;
  color: #3d3c3c;
  font-size: 1rem;
}

.search:focus-visible {
  outline: none;
  border: 3px solid #bb9d88;
}

.search-message {
  display: none;
}

@media (min-width: 768px) {
  .search-bar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.product-container {
  margin-bottom: 5rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
}

.product-image:hover {
  cursor: pointer;
}

.price-container {
  text-align: right;
  margin-bottom: 2rem;
}

.back-link {
  text-decoration: none;
  color: #bb9d88;
}

.back-link:hover {
  color: #3d3c3c;
}

.fa-chevron-left {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.editButton {
  font-size: 1.5rem;
  color: #a89e9d;
}

@media (min-width: 768px) {
  .product-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .name-container {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .description-header {
    margin-top: 0;
  }
  .description-price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .img-container {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: row2-start;
        grid-row-start: row2-start;
    grid-row-end: 4;
  }
  .product-image {
    height: 550px;
  }
  .cta-button-container {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

/*form styles ----*/
label,
.featured-label,
.img-preview-label {
  display: block;
  color: #3d3c3c;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.img-preview-label {
  margin-top: 0;
}

form {
  max-width: 1000px;
  margin: 2rem auto;
}

.edit-product-form,
#username-error,
#password-error,
#product-name-error,
#product-image-error,
#product-description-error,
#product-price-error {
  display: none;
}

form > div,
.url-container {
  margin-bottom: 1.5rem;
}

form input,
textarea {
  width: 100%;
  padding: 0.4rem;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  border: 3px solid #ded6d3;
}

form input:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 3px solid #bb9d88;
}

#description {
  height: 100px;
}

.featured-switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 40px;
}

.featured-checkbox {
  opacity: 0;
  width: 120px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ded6d3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 56px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  padding-top: 4px;
  content: "No";
}

.featured-checkbox:checked + .slider {
  background-color: #bb9d88;
}

.featured-checkbox:checked + .slider:before {
  -webkit-transform: translateX(56px);
          transform: translateX(56px);
  content: "Yes";
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.preview-img-container {
  overflow: hidden;
}

.preview-container {
  width: 100%;
}

.preview-image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}

#id {
  display: none;
}

.url-container {
  width: 100%;
}

.input-instructions,
.edit-input-instructions {
  padding: 0;
  margin: 0;
}

@media (min-width: 641px) {
  .preview-img-container {
    height: 150px;
    width: 200px;
  }
  .preview-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .url-container {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-right: 1rem;
  }
  .preview-container {
    width: auto;
  }
  .image-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.basket-container {
  margin-bottom: 3rem;
}

.basket-product {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket-img-container {
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.basket-img {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.basket-product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket-product-name h3,
.quantity-container p,
.basket-price-container p {
  margin: 0;
}

.basket-product-name h3 {
  margin-right: 30px;
}

.price-quantity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.basket-info-container {
  width: 100%;
}

.basket-price-container p {
  text-align: right;
}

.quantity-container,
.total-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.quantity-container {
  width: 180px;
}

.total-price-container {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-top: 3px solid #ded6d3;
}

@media (min-width: 641px) {
  .basket-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .basket-img-container {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  .basket-img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 768px) {
  .basket-img {
    width: 150px;
    height: 150px;
  }
  .basket-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .price-quantity-container {
    margin-top: 0;
    margin-left: 4rem;
  }
}

@media (min-width: 961px) {
  .basket-img {
    width: 175px;
    height: 175px;
  }
  .price-quantity-container {
    margin-left: 8rem;
  }
}

.page-loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  z-index: 20;
  background-color: #ded6d3;
}

.loader-logo-container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  margin: 0 auto;
}

.loader-logo {
  width: 300px;
}

.page-loader {
  position: absolute;
  top: 40%;
  left: 53%;
  -webkit-transform-origin: 53% 40%;
          transform-origin: 53% 40%;
  -webkit-transform: rotate(90deg) translate(-50%, 0%);
          transform: rotate(90deg) translate(-50%, 0%);
  font-size: 2rem;
  color: #3d3c3c;
}

.page-loader .paw {
  -webkit-animation: 2500ms walkingAnimation ease-in-out infinite;
          animation: 2500ms walkingAnimation ease-in-out infinite;
  opacity: 0;
}

.page-loader .paw:nth-child(odd) {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.page-loader .paw:nth-child(even) {
  -webkit-transform: rotate(10deg) translate(160%, 0);
          transform: rotate(10deg) translate(160%, 0);
}

.page-loader .paw:nth-child(1) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.page-loader .paw:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.page-loader .paw:nth-child(3) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.page-loader .paw:nth-child(4) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.page-loader .paw:nth-child(5) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.page-loader .paw:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.page-loader .paw:nth-child(7) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.page-loader .paw:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.page-loader .paw:nth-child(9) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.page-loader .paw:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.page-loader .paw:nth-child(11) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.page-loader .paw:nth-child(12) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.content-loader-container {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.content-loader {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: rotate(90deg) translate(-50%, 0%);
          transform: rotate(90deg) translate(-50%, 0%);
  font-size: 1.4rem;
  color: #bb9d88;
}

.content-loader .paw {
  -webkit-animation: 2500ms walkingAnimation ease-in-out infinite;
          animation: 2500ms walkingAnimation ease-in-out infinite;
  opacity: 0;
}

.content-loader .paw:nth-child(odd) {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.content-loader .paw:nth-child(even) {
  -webkit-transform: rotate(10deg) translate(125%, 0);
          transform: rotate(10deg) translate(125%, 0);
}

.content-loader .paw:nth-child(1) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.content-loader .paw:nth-child(2) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.content-loader .paw:nth-child(3) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.content-loader .paw:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.content-loader .paw:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.content-loader .paw:nth-child(6) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.content-loader .paw:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.content-loader .paw:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.content-loader .paw:nth-child(9) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.content-loader .paw:nth-child(10) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes walkingAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes walkingAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 10px 20px;
  border: 3px solid #ded6d3;
  width: 80%;
  max-width: 500px;
}

.modal-header {
  position: relative;
  border-bottom: 3px solid #ded6d3;
  padding: 10px 0;
  text-align: center;
  font-size: 1.8rem;
}

.close {
  color: #3d3c3c;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bb9d88;
  text-decoration: none;
  cursor: pointer;
}

.image-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 2rem;
  background: rgba(0, 0, 0, 0.9);
  z-index: 20;
}

.modal-heading {
  display: block;
}

.modal-contents {
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  overflow: hidden;
  margin: 0 auto;
}

.image-frame-modal {
  overflow: hidden;
  width: 80vw;
  max-width: 600px;
  background-color: #ded6d3;
  padding: 5px;
}

.modal-image {
  margin: 0 auto;
  max-width: 600px;
  height: 80vh;
  max-height: 600px;
  background-position: center;
  background-size: cover;
}

.exit {
  color: #3d3c3c;
  float: right;
  font-size: 3rem;
  font-weight: bold;
  padding: 0 1rem;
}

.exit:hover,
.exit:focus {
  color: #bb9d88;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal {
    padding-top: 300px;
  }
  .image-pop-up {
    padding-top: 180px;
  }
}

.about-img-container {
  width: 100%;
  height: 450px;
  background-position: top;
  background-size: cover;
  background-image: url(../../images/yogi.jpg);
  margin-bottom: 2rem;
}

.signature {
  text-align: right;
}

@media (min-width: 768px) {
  .img-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-img-container {
    height: 550px;
  }
  .about-img-container {
    margin-right: 2rem;
  }
  .text-container {
    width: 800px;
  }
}

@media (min-width: 961px) {
  .text-container {
    width: 1600px;
  }
}
/*# sourceMappingURL=style.css.map */