* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #3d3c3c;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container {
  max-width: 1350px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.page-wrapper {
  margin-top: 130px;
}

h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 2rem;
}

h2 {
  font-family: "Bodoni Moda", serif;
  font-size: 1.4rem;
}

h3 {
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
}

h4 {
  font-family: "Bodoni Moda", serif;
  font-size: 1.6rem;
}

h5 {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.header-img-container {
  width: 100%;
}

.header-img {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-position: top;
}

/*message styling ----*/
.message {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 3px solid #3d3c3c;
  color: #3d3c3c;
}

.message.error {
  border-color: darkred;
  color: darkred;
}

.message.warning {
  border-color: #d68b00;
  color: #d68b00;
}

.message.success {
  border-color: #015e01;
  color: #015e01;
}

nav,
#hamburger-menu {
  display: none;
}

nav ul {
  padding: 10px 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

nav li {
  display: block;
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
  color: #3d3c3c;
  display: block;
}

nav a:hover,
.current {
  text-decoration: underline;
  text-underline-offset: 5px;
}

nav i {
  color: #3d3c3c;
  padding: 0 10px;
}

.hamburger-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  color: #3d3c3c;
  padding: 35px 20px;
}

#hamburger-menu:checked ~ .nav {
  display: block;
}

.nav-block {
  position: absolute;
  left: 0;
  top: 0;
}

.nav {
  height: 100vh;
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#ded6d3), color-stop(rgba(222, 214, 211, 0.9)), to(rgba(222, 214, 211, 0.3)));
  background: linear-gradient(0.25turn, #ded6d3, rgba(222, 214, 211, 0.9), rgba(222, 214, 211, 0.3));
}

.logo-container {
  width: 280px;
  margin: 0 auto;
}

.nav-logo {
  width: 280px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ded6d3;
  z-index: 10;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 500px;
}

.product-card-link {
  text-decoration: none;
  color: #3d3c3c;
}

.product-img-container {
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.product-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 55px;
}

.product-name-container h3,
.product-name-container p {
  margin: 5px 0;
}

.featured-grid,
.product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 6rem;
}

.product-name-container p {
  margin-left: 10px;
}

.product-card-link:hover ~ .cta-button-container .cta-button {
  background-color: #ffffff;
  border: 3px solid #bb9d88;
  color: #bb9d88;
}

.product-card-link:hover ~ .cta-button-container .cta-button span {
  display: none;
}

.product-card-link:hover ~ .cta-button-container .cta-button:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5d7";
}

@media (min-width: 641px) {
  .featured-grid,
  .product-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 961px) {
  .featured-grid,
  .product-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.instagram-attests-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin: 6rem 0;
}

.small-insta-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  -ms-grid-row-align: end;
      align-self: end;
}

.attest1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.heading-container h4 {
  margin-top: 0;
}

.insta-img-container {
  overflow: hidden;
}

.insta-img-lrg {
  width: 100%;
  height: 435px;
  background-position: center;
  background-size: cover;
}

.insta-img-sm {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
}

.attest {
  position: relative;
}

.insta-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(222, 214, 211, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 5px;
}

.insta-username {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.instagram-tag {
  text-align: right;
  color: #a89e9d;
}

.fa-instagram {
  margin-right: 1rem;
}

@media (min-width: 961px) {
  .instagram-attests-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .insta-img-lrg {
    height: 558px;
  }
  .insta-img-sm {
    height: 350px;
  }
  .attest1 {
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

.cta-button-container,
.cart-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cta-button,
.formButton {
  height: 49px;
  width: 100%;
  font-family: "Karla", sans-serif;
  color: #ffffff;
  background-color: #bb9d88;
  border: 3px solid #bb9d88;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.cta-button:hover span,
.formButton:hover span {
  display: none;
}

.cta-button:hover:before,
.formButton:hover:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5d7";
}

.cta-button:hover,
.formButton:hover {
  background-color: #ffffff;
  border: 3px solid #bb9d88;
  color: #bb9d88;
}

.formButton {
  margin: 1.5rem 0 2.5rem 0;
}

#logout {
  height: 49px;
  width: 100%;
  font-family: "Karla", sans-serif;
  color: #3d3c3c;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  padding: 10px 20px;
}

#logout:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.delete {
  background-color: #ded6d3;
  border-color: #ded6d3;
  color: #3d3c3c;
  margin-top: 0;
}

.delete:hover {
  border-color: #ded6d3;
  color: #3d3c3c;
}

.cart-button-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .cart-button-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

footer {
  background-color: #ded6d3;
  padding: 1.5rem 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-logo-container {
  width: 200px;
  margin: 0 auto;
}

.footer-logo {
  width: 200px;
}

.fa-instagram,
.fa-facebook {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.logo-social-links,
.customer-links,
.business-links {
  text-align: center;
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
}

.search-bar label {
  color: #3d3c3c;
}

.search {
  height: 40px;
  width: 272px;
  border: 3px solid #ded6d3;
  background-color: white;
  margin: 1rem 0 1rem 1rem;
  padding: 10px;
  font-family: "Karla", sans-serif;
  color: #3d3c3c;
  font-size: 1rem;
}

.search:focus-visible {
  outline: none;
  border: 3px solid #bb9d88;
}

.product-container {
  margin-bottom: 5rem;
}

.img-container {
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
}

.price-container {
  text-align: right;
}

@media (min-width: 768px) {
  .product-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  .product-name {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .description-header {
    margin-top: 0;
  }
  .description-price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .img-container {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: row2-start;
        grid-row-start: row2-start;
    grid-row-end: 4;
  }
  .product-image {
    height: 550px;
  }
  .cta-button-container {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

/*form styles ----*/
label,
.featured-label {
  display: block;
  color: #3d3c3c;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

form {
  max-width: 900px;
  margin: 2rem auto;
}

form > div {
  margin-bottom: 1.5rem;
}

form input,
textarea {
  width: 100%;
  padding: 0.4rem;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  border: 3px solid #ded6d3;
}

form input:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 3px solid #bb9d88;
}

#description {
  height: 100px;
}

.featured-label {
  margin-bottom: 0;
}

.featured-switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 40px;
}

.featured-checkbox {
  opacity: 0;
  width: 120px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ded6d3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 56px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  padding-top: 4px;
  content: "No";
}

.featured-checkbox:checked + .slider {
  background-color: #bb9d88;
}

.featured-checkbox:checked + .slider:before {
  -webkit-transform: translateX(56px);
          transform: translateX(56px);
  content: "Yes";
}

#id {
  display: none;
}

.basket-container {
  margin-bottom: 5rem;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem 0;
}

.cart-img-container {
  overflow: hidden;
  margin-right: 0.5rem;
}

.cart-img {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}

.cart-product h3,
.cart-product p {
  margin: 0;
}

.cart-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cart-name-container p {
  text-align: right;
}

.total-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-top: 3px solid #ded6d3;
}

@media (min-width: 768px) {
  .cart-img {
    width: 150px;
    height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */