* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: map-get($colours, secondary);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container {
  max-width: 1400px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

//text styling -----
h1 {
  font-family: $font-headings;
  font-size: 2rem;
}
h2 {
  font-family: $font-headings;
  font-size: 1.4rem;
}
h3 {
  font-family: $font-primary;
  font-size: 1.3rem;
  font-weight: normal;
}

//header image -----

.header-img-container {
  width: 100%;
}

.header-img {
  min-height: 670px;
  width: 100%;
  overflow: hidden;
  background-position: top;
}

@media (min-width: 768px) {
  .header-img {
    min-height: 1040px;
  }
}
