* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: map-get($colours, secondary);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container {
  max-width: 1350px;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.page-wrapper {
  margin-top: 130px;
}

//text styling -----
h1 {
  font-family: $font-headings;
  font-size: 2rem;
}
h2 {
  font-family: $font-headings;
  font-size: 1.4rem;
}
h3 {
  font-family: $font-primary;
  font-size: 1.3rem;
  font-weight: normal;
}
h4 {
  font-family: $font-headings;
  font-size: 1.6rem;
}
h5 {
  font-family: $font-primary;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

//header image -----

.header-img-container {
  width: 100%;
}

.header-img {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-position: top;
}

/*message styling ----*/
.message {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 3px solid map-get($colours, secondary);
  color: map-get($colours, secondary);
}
.message.error {
  border-color: darkred;
  color: darkred;
}
.message.warning {
  border-color: rgb(214, 139, 0);
  color: rgb(214, 139, 0);
}
.message.success {
  border-color: rgb(1, 94, 1);
  color: rgb(1, 94, 1);
}
