.basket-container {
  margin-bottom: 5rem;
}
.cart-product {
  margin: 2rem 0;
  display: flex;
}
.cart-img-container {
  overflow: hidden;
  margin-right: 0.5rem;
}
.cart-img {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
}
.cart-product-name {
  display: flex;
  width: 100%;
  align-items: center;
}
.price-quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cart-info-container {
  width: 100%;
}
.price-container p {
  text-align: right;
}

.quantity-container {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.total-price-container {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-top: 3px solid map-get($colours, input);
}
.fa-trash-alt {
  font-size: 1.5rem;
  color: map-get($colours, primary);
}

@media (min-width: 768px) {
  .cart-img {
    width: 150px;
    height: 150px;
  }
  .cart-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
