.basket-container {
  margin-bottom: 3rem;
}
.basket-product {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}
.basket-img-container {
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.basket-img {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
}
.basket-product-name {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.basket-product-name h3 {
  margin: 0;
  margin-right: 30px;
}
.price-quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
.basket-info-container {
  width: 100%;
}
.quantity-container p {
  margin: 0;
}
.basket-price-container p {
  text-align: right;
  margin: 0;
}
.quantity-container {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.total-price-container {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-top: 3px solid map-get($colours, input);
}
.trashButton {
  font-size: 1.5rem;
  color: map-get($colours, primary);
  padding: 0 10px 10px 10px;
  margin-left: 2rem;
}
.trashButton:hover {
  cursor: pointer;
}
.plus,
.minus {
  border: 3px solid map-get($colours, input);
  color: map-get($colours, secondary);
  background-color: white;
  font-family: $font-primary;
  font-size: 1.2rem;
  padding: 0;
  width: 50px;
  height: 50px;
}

@include for-large-mobile {
  .basket-product {
    flex-direction: row;
  }
  .basket-img-container {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  .basket-img {
    width: 100px;
    height: 100px;
  }
}

@include for-tablet {
  .basket-img {
    width: 150px;
    height: 150px;
  }
  .basket-info-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .price-quantity-container {
    margin-top: 0;
  }
  .price-quantity-container {
    margin-left: 4rem;
  }
}

@include for-desktop {
  .basket-img {
    width: 175px;
    height: 175px;
  }
  .price-quantity-container {
    margin-left: 8rem;
  }
}
