/*form styles ----*/
label,
.featured-label,
.img-preview-label {
  display: block;
  color: map-get($colours, secondary);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.img-preview-label {
  margin-top: 0;
}
form {
  max-width: 1000px;
  margin: 2rem auto;
}
.edit-product-form {
  display: none;
}
form > div,
.url-container {
  margin-bottom: 1.5rem;
}
form input,
textarea {
  width: 100%;
  padding: 0.4rem;
  font-family: $font-primary;
  font-size: 1rem;
  border: 3px solid map-get($colours, input);
}
form input:focus-visible,
textarea:focus-visible {
  outline: none;
  border: 3px solid map-get($colours, primary);
}
#description {
  height: 100px;
}

.featured-switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 40px;
}

.featured-checkbox {
  opacity: 0;
  width: 120px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: map-get($colours, input);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 56px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  text-align: center;
  padding-top: 4px;
  content: "No";
}

.featured-checkbox:checked + .slider {
  background-color: map-get($colours, primary);
}

.featured-checkbox:checked + .slider:before {
  transform: translateX(56px);
  content: "Yes";
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.preview-img-container {
  overflow: hidden;
}
.preview-container {
  width: 100%;
}
.preview-image {
  width: 100%;
  height: fit-content;
  background-position: center;
  background-size: cover;
}

#id {
  display: none;
}
.url-container {
  width: 100%;
}
#username-error,
#password-error,
#product-name-error,
#product-image-error,
#product-description-error,
#product-price-error {
  display: none;
}
.input-instructions,
.edit-input-instructions {
  padding: 0;
  margin: 0;
}

@media (min-width: 641px) {
  .preview-img-container {
    height: 150px;
    width: 200px;
  }
  .url-container {
    flex-grow: 2;
    margin-right: 1rem;
  }
  .preview-container {
    width: auto;
  }
  .image-container {
    flex-direction: row;
  }
  .preview-image {
    width: 200px;
    height: 150px;
  }
}
