/*message styling ----*/
.message-container {
  margin-top: 2.5rem;
}
.message {
  grid-column: 1 / span 4;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border: 3px solid map-get($colours, secondary);
  color: map-get($colours, secondary);
}
.empty {
  padding: 2rem 1rem;
}
.error {
  border-color: #ac6b63;
  color: #ac6b63;
}
.error p {
  margin: 0.5rem 0;
}
.warning {
  border-color: #c68455;
  color: #c68455;
}
.success {
  border-color: #698678;
  color: #698678;
}
