.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
}
.product-img-container {
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
}
.product-name-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-name-container h3,
.product-name-container p {
  margin-top: 0;
}

.featured-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media (min-width: 641px) {
  .featured-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 961px) {
  .featured-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
