.product-container {
  margin-bottom: 5rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.product-image {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
}

.price-container {
  text-align: right;
}
.back-link {
  text-decoration: none;
  color: map-get($colours, primary);
}
.back-link:hover {
  color: map-get($colours, secondary);
}
.fa-chevron-left {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.added-modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  background-color: white;
  margin: auto;
  padding: 10px 20px;
  border: 3px solid map-get($colours, input);
  width: 80%;
  max-width: 500px;
}
.modal-header {
  position: relative;
  border-bottom: 3px solid map-get($colours, input);
  padding: 10px 0;
  text-align: center;
  font-size: 1.8rem;
}
.close {
  color: map-get($colours, secondary);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: map-get($colours, primary);
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .product-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .description-header {
    margin-top: 0;
  }
  .description-price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row2-start;
    grid-row-end: 4;
  }
  .product-image {
    height: 550px;
  }
  .cta-button-container {
    align-self: end;
  }
}
