.product-container {
  margin-bottom: 5rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.product-image {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
}
.product-image:hover {
  cursor: pointer;
}

.price-container {
  text-align: right;
}
.back-link {
  text-decoration: none;
  color: map-get($colours, primary);
}
.back-link:hover {
  color: map-get($colours, secondary);
}
.fa-chevron-left {
  font-size: 1rem;
  margin-right: 0.5rem;
}

@media (min-width: 768px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .product-name {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .description-header {
    margin-top: 0;
  }
  .description-price-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .img-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row2-start;
    grid-row-end: 4;
  }
  .product-image {
    height: 550px;
  }
  .cta-button-container {
    align-self: end;
  }
}
