.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.search-bar label {
  color: map-get($colours, secondary);
}
.search {
  height: 40px;
  width: 260px;
  border: 3px solid map-get($colours, input);
  background-color: white;
  margin: 1rem 0 1rem 1rem;
  padding: 10px;
  font-family: $font-primary;
  color: map-get($colours, secondary);
  font-size: 1rem;
}
.search:focus-visible {
  outline: none;
  border: 3px solid map-get($colours, primary);
}
.search-button {
  height: 40px;
  width: 40px;
  color: #ffffff;
  background-color: map-get($colours, primary);
  border: 2px solid map-get($colours, primary);
  font-size: 1rem;
  padding: 10px;
  margin-left: -4px;
  text-align: center;
  text-decoration: none;
}
.search-button:hover {
  background-color: #ffffff;
  border: 3px solid map-get($colours, primary);
  color: map-get($colours, primary);
}

@media (min-width: 961px) {
  .search-button {
    display: none;
  }
}
