.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.search-bar label {
  color: map-get($colours, secondary);
  margin-right: 1rem;
}
.search {
  height: 40px;
  width: 260px;
  border: 3px solid map-get($colours, input);
  background-color: white;
  margin: 0.5rem 0 1rem 0;
  padding: 10px;
  font-family: $font-primary;
  color: map-get($colours, secondary);
  font-size: 1rem;
}
.search:focus-visible {
  outline: none;
  border: 3px solid map-get($colours, primary);
}
.search-message {
  display: none;
}

@include for-tablet {
  .search-bar {
    justify-content: flex-end;
  }
}
