.instagram-attests-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin: 4rem 0;
}
.small-insta-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  align-self: end;
}
.attest1 {
  grid-row-start: 2;
}
.attest-container {
  display: flex;
  align-self: flex-end;
}
.heading-container h4 {
  margin-top: 0;
}
.insta-img-container {
  overflow: hidden;
}
.insta-img-lrg {
  width: 100%;
  height: 435px;
  background-position: center;
  background-size: cover;
  transition: 1s;
}
.insta-img-sm {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  transition: 1s;
}
.insta-img-lrg:hover,
.insta-img-sm:hover {
  transform: scale(1.1);
}
.insta-links {
  color: map-get($colours, secondary);
}
.attest {
  position: relative;
}
.insta-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(222, 214, 211, 0.8);
  display: flex;
  align-items: baseline;
  padding: 5px;
}
.insta-username {
  font-size: 1rem;
  margin-right: 1rem;
}
.instagram-tag,
.facebook-tag {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 2rem;
  font-family: $font-headings;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: right;
  color: map-get($colours, tertiary);
}
.instagram-tag:hover,
.facebook-tag:hover {
  letter-spacing: 1px;
}
.fa-instagram,
.fa-facebook {
  margin-right: 1rem;
}
@include for-tablet {
  .attest-container {
    display: block;
  }
  .insta-username {
    font-size: 1.2rem;
  }
}
@include for-desktop {
  .instagram-attests-section {
    grid-template-columns: 1fr 1fr;
  }
  .insta-img-lrg {
    height: 558px;
  }
  .insta-img-sm {
    height: 350px;
  }
  .attest1 {
    grid-row-start: 1;
  }
  .attest-container {
    display: flex;
  }
}
