//text styling -----
h1 {
  font-family: $font-headings;
  font-size: 2rem;
}
h2 {
  font-family: $font-headings;
  font-size: 1.4rem;
}
h3 {
  font-family: $font-primary;
  font-size: 1.3rem;
  font-weight: normal;
}
h4 {
  font-family: $font-headings;
  font-size: 1.6rem;
}
h5 {
  font-family: $font-primary;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
p {
  margin: 1.8rem 0;
}
.loading-p {
  font-family: $font-brand;
  font-size: 2.4rem;
}
.highlighted-text {
  line-height: 25px;
  font-weight: bold;
}
