//fonts
$font-primary: "Karla", sans-serif;
$font-headings: "Bodoni Moda", serif;
$font-brand: "Sacramento", cursive;

//colours
$colours: (
  primary: #bb9d88,
  secondary: #3d3c3c,
  tertiary: #a89e9d,
  input: #ded6d3,
  highlight: #d1c3ba,
);

//screen widths
$large-mobile-width: 641px;
$tablet-width: 768px;
$desktop-width: 961px;
